@model Daftari.Models.SendCodeViewModel
@{
    ViewBag.Title = "Send";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("rememberMe", @Model.RememberMe)
    <div class="well">
        <h4>Send verification code</h4>
        <hr />
        <br />
        <div class="form-group label-static">
            <label class="control-label">Select Two-Factor Authentication Provider</label>
            @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers, htmlAttributes: new { @class = "form-control" })
            <input type="submit" value="Submit" class="btn btn-light" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}