@model Daftari.ViewModel.RosterScheduleVM

@section CustomStyles {
    @Styles.Render("~/Content/datatables")

    <style type="text/css">

        #reportrange {
            width: 300px;
        }

        td h2 {
            font-size: 14px;
        }

        .NotOpen {
            background: rgb(255, 216, 216) !IMPORTANT;
        }

        .NotOpen.selected {
            background: rgb(255, 181, 181) !IMPORTANT;
        }

        .btn-info, .btn-primary, .btn-warning, .btn-danger {
            padding: 0.0rem 0.5rem !important;
            margin-right: 0.4rem;
        }

        .img-circle {
            width: 33px;
            height: 33px;
            margin: 2px;
            border-radius: 50%;
        }

        .g-label {
            height: 15px;
            padding-top: 6px;
            cursor: pointer;
        }

        .disable-btn {
            pointer-events: none;
        }

        .btn-xs .active {
            pointer-events: none!important;

        }
    </style>
}
@{
    ViewBag.Title = "New Attendance";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">New Attendance</h5>

                @if (ViewBag.CanView == true)
                {
                    <div class="mb-3">
                        @Html.LabelFor(model => model.StaffFilter, htmlAttributes: new { @class = "control-label" })
                        <select id="StaffFilter" class="form-control"></select>
                    </div>

                    <div class="mb-3">
                        @Html.LabelFor(model => model.DateFilter, htmlAttributes: new { @class = "form-label" })
                        @Html.EditorFor(model => model.DateFilter, new { htmlAttributes = new { @class = "form-control date", data_toggle = "date-picker", data_time_Picker = "true" } })
                    </div>
                }
                else
                {
                    @Html.EditorFor(model => model.DateFilter, new { htmlAttributes = new { @class = "form-control date", style = "display:none", data_toggle = "date-picker", data_time_Picker = "true" } })
                }

                <table id="dtTable" class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.e.start_at) Date
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.e.start_at) Time
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.e.name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.e.staff_members)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.e.people)
                            </th>
                        </tr>
                    </thead>
                </table>
            </div> <!-- end card-body-->
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.15/sorting/datetime-moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.33/moment-timezone-with-data.js" integrity="sha512-nwFvp27oDSOkJAXZdkqJDB2FkkI3dXJKSapfBmm+R9YW/4KvT8SAGhyTxmt6Uxfa49rTYODHdjjVjOLSJELfJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @if (ViewBag.CanView == false)
    {
        <script type="text/javascript">
            var personId = '@ViewBag.PersonID';
        </script>
    }

    <script type="text/javascript">
         var rootURL = '@Url.Action("/")';
        var cardURL = '@Url.Action("Open", "StudentCards")';

        function getLevelParam(lvl) {
            var levels = ['1 - Tadpoles',
                '2 - Minnows',
                '3 - Younger Leapfrog',
                '4 - Seahorses',
                '5 - Starfish',
                '6 - Seals',
                '7 - Sharks',
                '8 - Stingrays'];

            var lvlIndex = levels.indexOf(lvl);
            var lvlParam = '';
            if (lvlIndex !== -1)
                lvlParam = '&lvl=' + lvlIndex;

            if (lvl === '3 - Older Leapfrog')
                lvlParam = '&lvl=2';

            return lvlParam;
        }

        $.fn.dataTable.moment('h:mm:ss a');

        var table = $('#dtTable').DataTable({
        scrollY: 550,
        scrollX: true,
        deferRender: false,
        scroller: {
            loadingIndicator: true,
            displayBuffer: 150
        },
        select: false,
       "ajax": {
          "url": rootURL + 'getJSON',
            "data": function (d) {
                var dates = $('#DateFilter').val().split(' - ');
                d.from = moment(dates[0]).format('YYYY-MM-DDTHH:mm:ss');
                d.to = moment(dates[1]).format('YYYY-MM-DDTHH:mm:ss');
                if (typeof (personId) !== 'undefined') {
                    d.staff_member_ids = personId;
                }
            },
            dataSrc: 'event_occurrences'
        },
        lengthChange: false,
        //"processing": true,
        stateSave: true,
        "columns": [
            {
                "data": "start_at", render: function (data, type, row) {
                    return convertUTCToLocal(data, "YYYY-MM-DD hh:mm:ss A").format('YYYY-MM-DD');
                },
                orderData: [0, 1]
            },
            {
                "data": "start_at", render: function (data, type, row) {
                    return convertUTCToLocal(data, "YYYY-MM-DD hh:mm:ss A").format('h:mm:ss a');
                },
                orderData: [1, 0]
            },
            { "data": "name" },
            {
                "data": null, render: function (data, type, row, meta) {
                    var msg = '';
                    if (row.staff_members.length > 0) {
                        for (var i = 0; i < row.staff_members.length; i++) {
                            if (msg === '') {
                                msg = row.staff_members[i].name;
                            } else {
                                msg += '<br/>' + row.staff_members[i].name;
                            }
                        }
                        //msg = msg;
                    }
                    return msg;
                }
            },
            {
                "data": null, render: function (data, type, row, meta) {
                    var msg = '';
                    if (!row.attendance_complete && row.visits.length > 0) {
                        for (var i = 0; i < row.visits.length; i++) {
                            var visit = row.visits[i];

                            var templateBttn = '<a class="btn btn-{0} btn-xs {1}" title="{2}" OnClick="putVisitToPike(this,\'{3}\',\'' + visit.person.id + '\',\'' + row.id + '\')"><i class="mdi {4}"></i></a>';

                            msg = msg
                                + templateBttn.format('primary', visit.state == 'completed' ? 'disabled' : '', 'complete', 'complete', 'mdi-calendar-check')
                                + templateBttn.format('warning', visit.state == 'noshowed' ? 'disabled' : '', 'noshow', 'noshow', 'mdi-calendar-question')
                                + templateBttn.format('info', visit.state == 'late_canceled' ? 'disabled' : '', 'late_cancel', 'late_cancel', 'mdi-calendar-remove')
                                + templateBttn.format('danger', '', 'reset', 'reset', 'mdi-undo-variant');

                            msg = msg + '<img class="img-circle"  src="' + visit.person.photoMD + '" />' + visit.person.name + '<br />';
                        }
                    } 

                    return msg;
                }
            }
        ],
        rowCallback: function (row, data) {
            if (data.isNotOpen) {
                $(row).addClass('NotOpen');
            }
        },
        columnDefs: [

        ],
        order: [0, "asc"],
        "initComplete": function (settings, json) {
            //makeRequest();

            userPermExec(json);
        }
        });

        table
            .columns(4)
            .search('^(?!\s*$).+', true, false, false)
            .draw();

    new $.fn.dataTable.Buttons(table, {
        buttons: true,
        "buttons": [
            {
                extend: 'colvis',
                postfixButtons: ['colvisRestore'],
            },
            'selectAll',
            'selectNone',
            {
                extend: 'print',
                exportOptions: {
                    columns: ':visible',
                    stripNewlines: false,
                    stripHtml: false
                },
                footer: true
            },
            {
                text: 'Reset Filter',
                action: function (e, dt, node, config) {
                    table.state.clear();
                    window.location.reload();
                }
            },
            {
                text: 'Reload',
                action: function (e, dt, node, config) {
                    dt.ajax.reload(function () {
                        //makeRequest();
                        userPermExec(table.ajax.json());
                    });
                }
            }
        ],
    });

    // Attach Buttons
    table.buttons().container()
        .appendTo('#dtTable_wrapper .col-md-6:eq(0)');
    </script>

    @if (ViewBag.CanView == true)
    {
        <script type="text/javascript">
            $('#DateFilter').change(function () {
                table.ajax.reload(function () {
                    //makeRequest();
                    userPermExec(table.ajax.json());
                });
            });

            function userPermExec(json) {
                var instructorArr = [];
                instructorArr.push('All');
                for (var i in json.event_occurrences) {
                    var row = json.event_occurrences[i];
                    for (var j in row.staff_members) {
                        var member = row.staff_members[j];
                        if (instructorArr.indexOf(member.name) === -1)
                            instructorArr.push(member.name);
                    }
                }

                $("#StaffFilter").empty();
                $.each(instructorArr, function (key, value) {
                    $('#StaffFilter')
                        .append($("<option></option>")
                            .attr("value", value)
                            .text(value));
                });

                $("#StaffFilter").change(function () {
                    var txt = $("#StaffFilter option:selected").text();
                    if (txt === 'All') {
                        table
                            .columns(3)
                            .search('')
                            .draw();
                    }
                    else {
                        table
                            .columns(3)
                            .search(txt)
                            .draw();
                    }

                });
            }
        </script>
    }
    else
    {
        <script>
            function userPermExec() {
                 @*table
                        .columns(2)
                        .search('@ViewBag.UserFullName')
                        .draw();*@
            }
        </script>
    }

    <script type="text/javascript">

        function openCards(id) {
            var cardsLink = '@Url.Action("Cards", "NewKiosk")' + '?id=' + id;
            window.open(cardsLink, '_blank').focus();
        }

        function openCard(pid, lvl) {
            var lvlParam = getLevelParam(lvl);
            var checkLocalCardUrl = '@Url.Action("GetCardValidity", "StudentCards")?sid=' + pid + lvlParam;
            //console.log(lvlParam, checkLocalCardUrl);
                        $.NotificationApp.send("Status", "Searching Card...", "bottom-right", "rgba(0,0,0,0.2)", "secondary");

            $.ajax({
                    method: "GET",
                    url: checkLocalCardUrl
                })
                .done(function (msg) {

                    var cardURL = '@Url.Action("Open", "StudentCards")' + '?sid=' + pid;// + '&instructors=' + instructors + lvlParam + '&eid=' + eid + '&plan=' + plan + '&startdate=' + stDate;

                    if (msg.Status === 0) {
                        $.NotificationApp.send("Status", "Opening Card...", "bottom-right", "rgba(0,0,0,0.2)", "secondary");
                        window.location.href = cardURL;
                        //window.open(cardURL, '_blank').focus();
                    } else if (msg.Status === 1) {
                        $.NotificationApp.send("Status", "No Existing Card Found. Creating New Now..", "bottom-right", "rgba(0,0,0,0.2)", "info");
                        window.location.href = cardURL;
                        //window.open(cardURL, '_blank').focus();
                    } else {
                        $.NotificationApp.send("Status", msg.StatusMsg, "bottom-right", "rgba(0,0,0,0.2)", "warning");
                        $(cntrl).removeClass('disabled');
                    }

                }).fail(function (jqXHR, textStatus, errorThrown) {

                    if (typeof (jqXHR.responseText) === 'undefined') {
                        var errorMsg = jqXHR.statusText;
                        $.NotificationApp.send("Status", errorMsg, "bottom-right", "rgba(0,0,0,0.2)", "danger");
                        $(cntrl).removeClass('disabled');
                    }
                    else {
                        var errorMsg = JSON.parse(jqXHR.responseText);
                        $.NotificationApp.send("Status", errorMsg.errors.state_event, "bottom-right", "rgba(0,0,0,0.2)", "danger");
                        $(cntrl).removeClass('disabled');
                    }
                });
        }

        // convert utc time to local time
        function convertUTCToLocal(utcDt, utcDtFormat) {
            var toDt = moment.utc(utcDt, utcDtFormat).toDate();
            return moment(toDt);
        }

        function putVisitToPike(dom, attdStatus, pid, eid) {

           $(dom).addClass('disabled');

            var getVistUrl = 'https://@(ViewBag.Subdomain).pike13.com/api/v2/desk/people/' + pid + '/visits?event_occurrence_id=' + eid + '&access_token=@(ViewBag.AccessCode)';

            $.ajax({
                method: "GET",
                url: getVistUrl,
            }).done(function (data) {
                var vid = data.visits[0].id;
                var updateVisitUrl = 'https://@(ViewBag.Subdomain).pike13.com/api/v2/desk/visits/' + vid + '?access_token=@(ViewBag.AccessCode)';
                $.ajax({
                    method: "PUT",
                    url: updateVisitUrl,
                    data: { "visit": { "state_event": attdStatus } }
                })
                    .done(function (msg) {

                        $.NotificationApp.send("Status", "Updated", "bottom-right", "rgba(0,0,0,0.2)", "success");                        
                        $(dom).siblings().removeClass('disabled');
                        //$(dom).addClass('selected')
                    }).fail(function (jqXHR, textStatus, errorThrown) {

                        $(dom).removeClass('disabled');

                        if (typeof (jqXHR.responseText) === 'undefined') {
                            var errorMsg = jqXHR.statusText;
                            $.NotificationApp.send("Error", errorMsg, "bottom-right", "rgba(0,0,0,0.2)", "danger");
                        }
                        else {
                            var errorMsg = JSON.parse(jqXHR.responseText);

                            $.NotificationApp.send("Error", errorMsg.errors.state_event, "bottom-right", "rgba(0,0,0,0.2)", "danger");
                        }
                    })
            });
        }

        if (!String.prototype.format) {
            String.prototype.format = function () {
                var args = arguments;
                return this.replace(/{(\d+)}/g, function (match, number) {
                    return typeof args[number] != 'undefined'
                        ? args[number]
                        : match
                        ;
                });
            };
        }
    </script>
}