@model Daftari.ViewModel.StatusDashboardVM

@section CustomStyles {
    @Styles.Render("~/Content/datatables")

    <style type="text/css">

        /* For Tablets */
        @@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
            .well {
                margin-left: 10px;
                margin-right: 10px;
                padding: 2rem;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
        }

        @@media only screen and (min-device-width: 1024px) {
            .well {
                margin-left: 50px;
                margin-right: 50px;
                margin-top: 15px;
                padding: 1.2rem;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
        }

        .card-title {
            min-height: 33px;
        }

        .card-text {
            font-size: 1.6rem;
            text-align: center;
        }
        .card-title {
            text-align: center;
        }

        .card .bg-light {
            cursor: pointer;
        }
    </style>
}
@{
    ViewBag.Title = "Status Report";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group label-static">
                    <div class="form-group label-static">
                        @Html.Label("Date", htmlAttributes: new { @class = "control-label" })
                        @Html.Editor("Date", new { htmlAttributes = new { @class = "form-control date", data_toggle = "date-picker", data_time_Picker = "true" } })
                        @Html.ValidationMessage("Date", "", new { @class = "text-danger" })
                    </div>
                </div>

                <h5 class="card-title now-title">Today's View</h5>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card bg-light">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayNameFor(model => model.Total_Capacity)</h5>
                                <p class="card-text" id="total-capacity"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="card bg-light">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayNameFor(model => model.Total_Stundents)</h5>
                                <p class="card-text" id="total-students"></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="card bg-light" onclick="OpenStatusReport('Late_Cancel')">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayNameFor(model => model.Total_Cancelled_Stundents)</h5>
                                <p class="card-text" id="cancelled-students"></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="card bg-light" onclick="OpenStatusReport('NoShow')">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayNameFor(model => model.Total_No_Show_Stundents)</h5>
                                <p class="card-text" id="no-show-students"></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="card bg-light">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayNameFor(model => model.Total_Classes)</h5>
                                <p class="card-text" id="total-classes"></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="card bg-light" onclick="OpenStatusReport('Unpaid')">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayNameFor(model => model.Unpaid_Students)</h5>
                                <p class="card-text" id="unpaid-students"></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="card bg-light" onclick="OpenStatusReport('First_Visit')">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayNameFor(model => model.Total_First_Visits)</h5>
                                <p class="card-text" id="total-first-visits"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Start Content-->
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title mb-4">Daily Status</h4>
                                    <div id="status-line-chart" class="mt-3 apex-charts" data-colors="#536de6,#10c469,#c41010,#c4a310"></div>
                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->

                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title mb-4">Status Today</h4>
                                    <div id="simple-donut" class="apex-charts" data-colors="#39afd1,#10c469,#c4a310,#c41010"></div>
                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->
                    </div>
                    <!-- end row-->

                </div>
                <!-- container -->


            </div> <!-- end card-body-->
        </div>
    </div>
</div>

@section Scripts {
    
    <script>
        var rootURL = '@Url.Action("/")';
    </script>
    <script src="~/Scripts/vendor/Chart.bundle.min.js"></script>
    <script src="~/Scripts/vendor/apexcharts.min.js"></script>
    <script src="~/Scripts/controllers/pike13access/status.report.js"></script>

}