@model Daftari.ViewModel.StatusReportVM

@section CustomStyles {
    @Styles.Render("~/Content/datatables")

    <style type="text/css">

        #reportrange {
            width: 300px;
        }

        td h2 {
            font-size: 14px;
        }

        .NotOpen {
            background: rgb(255, 216, 216) !IMPORTANT;
        }

            .NotOpen.selected {
                background: rgb(255, 181, 181) !IMPORTANT;
            }

        .btn-info {
            padding: 0.0rem 0.4rem !important;
            margin-right: 0.5rem;
        }

        .img-circle {
            width: 33px;
            height: 33px;
            margin: 2px;
            border-radius: 50%;
        }

        .g-label {
            height: 15px;
            padding-top: 6px;
            cursor: pointer;
        }

        #progress {
            float: right;
        }
    </style>
}
@{
    ViewBag.Title = "Stuck Student Report";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Status Report</h5><label id="progress"></label>

                <div class="mb-3">
                    @Html.LabelFor(model => model.DateFilter, htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.DateFilter, new { htmlAttributes = new { @class = "form-control date", data_toggle = "date-picker", data_time_Picker = "true" } })
                </div>

                <table id="dtTable" class="table">
                    <thead>
                        <tr>
                            <th>
                                Person
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                First Visit
                            </th>
                            <th>
                                Last Visit
                            </th>
                            <th>
                                Completed Visits
                            </th>
                            <th>
                                Future Visits
                            </th>
                            <th>
                                Unpaid Visits
                            </th>
                        </tr>
                    </thead>
                </table>
            </div> <!-- end card-body-->
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.15/sorting/datetime-moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.33/moment-timezone-with-data.js" integrity="sha512-nwFvp27oDSOkJAXZdkqJDB2FkkI3dXJKSapfBmm+R9YW/4KvT8SAGhyTxmt6Uxfa49rTYODHdjjVjOLSJELfJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>
    <script src="@Url.Content("~/signalr/hubs")"></script>

    <script type="text/javascript">
         var rootURL = '@Url.Action("/")';

        $.fn.dataTable.moment('h:mm:ss a');

        var table = $('#dtTable').DataTable({
        scrollY: 550,
        scrollX: true,
        deferRender: false,
        scroller: {
            loadingIndicator: true,
            displayBuffer: 150
        },
        select: true,
       "ajax": {
          "url": rootURL + 'GetStuckStudentJSON',
            "data": function (d) {
                var dates = $('#DateFilter').val().split(' - ');
                d.from = moment(dates[0]).format('YYYY-MM-DDTHH:mm:ss');
                d.to = moment(dates[1]).format('YYYY-MM-DDTHH:mm:ss');
                if (typeof (personId) !== 'undefined') {
                    d.staff_member_ids = personId;
                }
                //d.status = $("#StatusFilter option:selected").text()
            },
            dataSrc: 'visits'
        },
        lengthChange: false,
        //"processing": true,
        stateSave: true,
        "columns": [
            {
                "data": null, render: function (data, type, row, meta) {
                    var msg = '<img class="img-circle"  src="' + row.photoMD + '" />' + (row.person) + '<br />';

                    return msg;
                }
            },
            { "data": "name" },
            { "data": "first_visit_date" },
            {
                "data": null, render: function (data, type, row, meta) {
                    var msg = row.last_visit_date + ' (' + row.last_visit_service + ')';
                    return msg;
                }
            },
            { "data": "completed_visits" },
            { "data": "future_visits" },
            { "data": "unpaid_visits" },

            //{
            //    "data": null, render: function (data, type, row, meta) {
            //        var msg = '';
            //        if (row.staff_members.length > 0) {
            //            for (var i = 0; i < row.staff_members.length; i++) {
            //                if (msg === '') {
            //                    msg = row.staff_members[i].name;
            //                } else {
            //                    msg += '<br/>' + row.staff_members[i].name;
            //                }
            //            }
            //            msg = '<a class="btn btn-info btn-raised btn-xs"  OnClick="openCards(' + row.id + ')" data-toggle="tooltip" data-placement="bottom" title="Open Cards" data-animation="true"><i class="dripicons-expand-2"></i></a>' + msg;
            //        }
            //        return msg;
            //    }
            //},
            //{
            //    "data": null, render: function (data, type, row, meta) {
            //        var msg = '';
            //        if (row.visits.length > 0) {
            //            for (var i = 0; i < row.visits.length; i++) {
            //                var visit = row.visits[i];
            //                msg = msg + '<img class="img-circle"  src="' + visit.person.photoMD + '" />' + (visit.person.name + ' (' + visit.status + ')') + '<br />';
            //            }
            //        } else {
            //            msg = 'NA';
            //        }
            //        return msg;
            //    }
            //},
            //{
            //    "data": null, render: function (data, type, row, meta) {
            //        var msg = '';
            //        if (row.visits.length > 0) {
            //            for (var i = 0; i < row.visits.length; i++) {
            //                var visit = row.visits[i];
            //                var d = moment.duration(new moment().diff(visit.person.lastOpenDateTime));
            //                var isNotOpen = false;
            //                if (d.as('days') > 1) {
            //                    row.isNotOpen = true;
            //                    isNotOpen = true;
            //                }

            //                msg = msg + '<div class="g-label"><a OnClick="openCard(' + visit.person.id + ',\'' + data.name + '\')">' + (visit.person.id === 0 ? "-" :  (visit.person.level != null ? visit.person.level : "(No Card)")) + (isNotOpen ? " (Not Opened)" : "") + '</a></div><br />';
            //            }
            //        } else {
            //            msg = 'NA';
            //        }
            //        return msg;
            //    }
            //},
            //{
            //    "data": null, render: function (data, type, row, meta) {
            //        var msg = '';
            //        if (row.visits.length > 0) {
            //            for (var i = 0; i < row.visits.length; i++) {
            //                var visit = row.visits[i];
            //                var lastOpenDateTime = visit.person.lastOpenDateTime;
            //                if (lastOpenDateTime != null) {
            //                    var lastOpenDateTime = convertUTCToLocal(visit.person.lastOpenDateTime, "YYYY-MM-DD hh:mm:ss A");
            //                    msg = msg + '<div class="g-label">' + lastOpenDateTime.format('YYYY-MM-DD') + '</div><br />';
            //                } else {
            //                    msg = msg + '<div class="g-label">____________</div><br />';
            //                }
            //                //msg = msg + '<div class="g-label">' + (visit.person.id === 0 ? "-" : (lastOpenDateTime != null ? moment(lastOpenDateTime).format('YYYY-MM-DD') : "____________")) + '</div><br />';
            //            }
            //        } else {
            //            msg = 'NA';
            //        }
            //        return msg;
            //    }
            //},
            //{
            //    "data": null, render: function (data, type, row, meta) {
            //        var msg = '';
            //        if (row.visits.length > 0) {
            //            for (var i = 0; i < row.visits.length; i++) {
            //                var visit = row.visits[i];
            //                var lastOpenDateTime = visit.person.lastOpenDateTime;
            //                if (lastOpenDateTime != null) {
            //                    var lastOpenDateTime = convertUTCToLocal(visit.person.lastOpenDateTime, "YYYY-MM-DD hh:mm:ss A");
            //                    msg = msg + '<div class="g-label">' + lastOpenDateTime.format('h:mm:ss a') + '</div><br />';
            //                } else {
            //                    msg = msg + '<div class="g-label">____________</div><br />';
            //                }
            //                //console.log(lastOpenDateTime);
            //                //msg = msg + '<div class="g-label">' + (visit.person.id === 0 ? "-" : (lastOpenDateTime != null ? moment(lastOpenDateTime).format('h:mm:ss a') : "____________")) + '</div><br />';
            //            }
            //        } else {
            //            msg = 'NA';
            //        }
            //        return msg;
            //    }
            //},
        ],
        rowCallback: function (row, data) {
            //if (data.isNotOpen) {
            //    $(row).addClass('NotOpen');
            //}
        },
        columnDefs: [

        ],
        order: [0, "asc"],
        "initComplete": function (settings, json) {
            //makeRequest();

            userPermExec(json);
        }
    });

    new $.fn.dataTable.Buttons(table, {
        buttons: true,
        "buttons": [
            {
                extend: 'colvis',
                postfixButtons: ['colvisRestore'],
            },
            'selectAll',
            'selectNone',
            {
                extend: 'print',
                exportOptions: {
                    columns: ':visible',
                    stripNewlines: false,
                    stripHtml: false
                },
                footer: true
            },
            {
                text: 'Reset Filter',
                action: function (e, dt, node, config) {
                    table.state.clear();
                    window.location.reload();
                }
            },
            {
                text: 'Reload',
                action: function (e, dt, node, config) {
                    dt.ajax.reload(function () {
                        //makeRequest();
                        userPermExec(table.ajax.json());
                    });
                }
            },
            {
                text: 'Sync',
                action: function (e, dt, node, config) {
                    $.NotificationApp.send("Status", "Requesting Server Sync", "bottom-right", "rgba(0,0,0,0.2)", "info")

                    var dates = $('#DateFilter').val().split(' - ');
                    var from = moment(dates[0]).format('YYYY-MM-DDTHH:mm:ss');
                    var to = moment(dates[1]).format('YYYY-MM-DDTHH:mm:ss');

                    $.ajax({
                        async: true,
                        url: rootURL + "SyncEventOccurrences?from=" + from + "&to=" + to + "&business_id=null&type=9&all=false",
                        cache: false
                    }).done(function (data) {

                        $.NotificationApp.send("Status", data.msg, "bottom-right", "rgba(0,0,0,0.2)", (data.type === 0) ? "success" : (data.type === 1) ? "info" : "danger")

                        table.ajax.reload();
                    }).fail(function (msg) {
                        $.NotificationApp.send("Status", 'Fail', "bottom-right", "rgba(0,0,0,0.2)", "danger");

                        table.ajax.reload();
                    });
                },
                className: 'btn-danger'
            }
        ],
    });

    // Attach Buttons
    table.buttons().container()
        .appendTo('#dtTable_wrapper .col-md-6:eq(0)');
    </script>


    <script type="text/javascript">


        $(function () {

            var progressNotifier = $.connection.pike13Hub;

            progressNotifier.client.updateProgress = function (operation, progress) {
                $("#progress").html(operation + " " + progress);
                console.log(operation + " " + progress);
                console.log(" might have not sent prop ");
            };

            $.connection.hub.start().done(function () {
                console.log("Hub is started.");
            });
        });

        $('#DateFilter').change(function () {
            table.ajax.reload(function () {
                //makeRequest();
                //userPermExec(table.ajax.json());
            });
        });

        //$('#StatusFilter').change(function () {
        //    console.log("me");
        //    table.ajax.reload(function () {
        //        //makeRequest();
        //        //userPermExec(table.ajax.json());
        //    });
        //});

        function userPermExec(json) {
            //var instructorArr = [];
            //instructorArr.push('All');
            //for (var i in json.event_occurrences) {
            //    var row = json.event_occurrences[i];
            //    for (var j in row.staff_members) {
            //        var member = row.staff_members[j];
            //        if (instructorArr.indexOf(member.name) === -1)
            //            instructorArr.push(member.name);
            //    }
            //}

            //$.each(instructorArr, function (key, value) {
            //    $('#StaffFilter')
            //        .append($("<option></option>")
            //            .attr("value", value)
            //            .text(value));
            //});

            //$("#StatusFilter").change(function () {
            //    var txt = $("#StatusFilter option:selected").text();
            //    if (txt === 'All') {
            //        table
            //            .columns(3)
            //            .search('')
            //            .draw();
            //    }
            //    else {
            //        table
            //            .columns(3)
            //            .search(txt)
            //            .draw();
            //    }

            //});
        }
    </script>


    <script type="text/javascript">

        // convert utc time to local time
        function convertUTCToLocal(utcDt, utcDtFormat) {
            var toDt = moment.utc(utcDt, utcDtFormat).toDate();
            return moment(toDt);
        }
    </script>
}