@model Daftari.ViewModel.ChemicalRecordFormVM

@section CustomStyles {
    @Styles.Render("~/Content/datatables")

    <style type="text/css">

        /* For Tablets */
        @@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
            .well {
                margin-left: 10px;
                margin-right: 10px;
                padding: 2rem;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
        }

        @@media only screen and (min-device-width: 1024px) {
            .well {
                margin-left: 50px;
                margin-right: 50px;
                margin-top: 15px;
                padding: 1.2rem;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
        }

        .card-title {
            min-height: 33px;
        }

        .card-text {
            font-size: 1.6rem;
            text-align: center;
        }
        .card-title {
            text-align: center;
        }

        .card .bg-light {
            cursor: pointer;
        }
    </style>
}
@{
    ViewBag.Title = "Chemical Records Report";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group label-static">
                    <div class="form-group label-static">
                        @Html.Label("Date", htmlAttributes: new { @class = "control-label" })
                        @Html.Editor("Date", new { htmlAttributes = new { @class = "form-control date", data_toggle = "date-picker", data_time_Picker = "true" } })
                        @Html.ValidationMessage("Date", "", new { @class = "text-danger" })
                    </div>
                </div>

                <h5 class="card-title now-title">Chemical Records Report</h5>

                <!-- Start Content-->
                <div class="container-fluid">

                    @if (Model.ChemicalSettings.FreeChlorine == Daftari.Chemicals.Enum.Visibility.Visible)
                    {
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title mb-4">Chlorine</h4>
                                    <div id="chlorine-stacked-column" class="mt-3 apex-charts" data-colors="#536de6,#c41010,#10c469,#c4a310"></div>
                                    <div id="chlorine-line-chart" class="mt-3 apex-charts" data-title="@Html.DisplayNameFor(model => model.TotalChlorine)" data-value="TotalChlorine" data-colors="#536de6,#10c469,#c41010,#c4a310"></div>
                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->
                    }

                    @if (Model.ChemicalSettings.pH == Daftari.Chemicals.Enum.Visibility.Visible)
                    {
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title mb-4">@Html.DisplayFor(model => model.pH)</h4>
                                    <div id="ph-line-chart" class="mt-3 apex-charts" data-title="@Html.DisplayNameFor(model => model.pH)" data-value="pH" data-colors="#536de6,#10c469,#c41010,#c4a310"></div>
                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->
                    }

                    @if (Model.ChemicalSettings.Alkalinity == Daftari.Chemicals.Enum.Visibility.Visible)
                    {
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title mb-4">@Html.DisplayFor(model => model.Alkalinity)</h4>
                                    <div id="alkalinity-line-chart" class="mt-3 apex-charts" data-title="@Html.DisplayNameFor(model => model.Alkalinity)" data-value="Alkalinity" data-colors="#536de6,#10c469,#c41010,#c4a310"></div>
                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->
                    }

                    @if (Model.ChemicalSettings.CalciumHardness == Daftari.Chemicals.Enum.Visibility.Visible)
                    {
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title mb-4">@Html.DisplayFor(model => model.CalciumHardness)</h4>
                                    <div id="calcium-hardness-line-chart" class="mt-3 apex-charts" data-title="@Html.DisplayNameFor(model => model.CalciumHardness)" data-value="CalciumHardness" data-colors="#536de6,#10c469,#c41010,#c4a310"></div>
                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->
                    }

                    @if (Model.ChemicalSettings.AirTemp == Daftari.Chemicals.Enum.Visibility.Visible)
                    {
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title mb-4">@Html.DisplayTextFor(model => model.AirTemp)</h4>
                                    <div id="air-temp-line-chart" class="mt-3 apex-charts" data-title="@Html.DisplayNameFor(model => model.AirTemp)" data-value="AirTemp" data-colors="#536de6,#10c469,#c41010,#c4a310"></div>
                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->
                    }

                    @if (Model.ChemicalSettings.PoolTemp == Daftari.Chemicals.Enum.Visibility.Visible)
                    {
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title mb-4">@Html.DisplayFor(model => model.PoolTemp)</h4>
                                    <div id="pool-temp-line-chart" class="mt-3 apex-charts" data-title="@Html.DisplayNameFor(model => model.PoolTemp)" data-value="PoolTemp" data-colors="#536de6,#10c469,#c41010,#c4a310"></div>
                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->
                    }

                </div>
                <!-- container -->


            </div> <!-- end card-body-->
        </div>
    </div>
</div>

@section Scripts {    
    <script>
        var rootURL = '@Url.Action("/")';
    </script>
    <script src="~/Scripts/vendor/Chart.bundle.min.js"></script>
    <script src="~/Scripts/vendor/apexcharts.min.js"></script>
    <script src="~/Scripts/controllers/chemicalRecords/chemical-records.report.js"></script>
}